{% extends "base.html" %}

{% block content %}
<div id="form-window">
    <div class="wrapper">
        <form method="POST" class="form-registration">
            {% csrf_token %}
            <h1>Ваш Отзыв</h1>
            <div class='review-name'>
                Добавление отзыва как: {{ user.first_name }} {{ user.last_name }}
            </div>
            {% for f in form %}
            {{ f }}
            {% endfor %}
            <button type="submit" class="form-btn">Отправить отзыв</button>
        </form>
    </div>
</div>
{% endblock content %}