{% extends "base.html" %}

{% block content %}
<div id="form-window">
    <div class="wrapper">
        <form method="POST" class="form-registration">
            <h1>Изменить пароль</h1>
            {% csrf_token %}
            <div class="not-match">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <div class="form-description">
                {{ f }}
            </div>
            <div class="form-errors">{{ f.errors }}</div>
            {% endfor %}
            <button type="submit" class="form-btn">Изменить</button>
        </form>
    </div>
</div>
{% endblock content %}