.password-confirm-complete {
    margin: 40px 20px;
    font-size: 18px;
    line-height: 27px;
}

.password-confirm-complete a {
    color: white;
    text-decoration: underline;
}

.password-confirm-complete a:hover {
    color: rgb(117, 88, 34);
}