.wrapper-send-mail {
    width: 420px;
    background-color: rgb(233, 177, 75);
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 19px;
    text-align: justify;
}